@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@100;400;500;600;800&family=Roboto&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.header {
  background-image: url("./images/header.jpg");
  background-size: cover;
  background-position: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  color: #fff;
}

.input__size {
  min-width: 800px;
}

.search:hover {
  cursor: pointer;
}

.deneme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.zeroPadding {
  padding: 0 !important;
}

.characterCategory {
  margin-top: 10px;
  color: #21243d;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
  opacity: .7;
  text-transform: uppercase;
}

.characterName {
  margin: 0 !important;
  box-sizing: border-box;
  font-size: .9rem;
}

.characterLocation {
  box-sizing: border-box;
  font-size: .9rem;
}

.perPageFilter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.custom-select {
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  font-size: .9rem;
  border-style: none;
}

.custom-select::after {
  margin-left: 5px;
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M14-5v16H-2V-5z'/%3E%3Cpath fill='%23000' stroke='%23FFF' stroke-width='.5' d='M2.228 1.332a.664.664 0 00-.942.001.665.665 0 00-.002.941l4.247 4.247c.259.26.679.26.938 0l4.247-4.247a.664.664 0 00-.002-.94.666.666 0 00-.942-.002L6 5.105 2.228 1.332z'/%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
}

.select {
  appearance: none;
  color: #21243d;
  font-family: inherit;
  background: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}