@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@100;400;500;800&family=Roboto&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.header {
  background-image: url("https://im4.ezgif.com/tmp/ezgif-4-a564b22a09.jpg");
  background-size: cover;
  background-position: 50%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  color: #fff;
}